<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8">
		<meta name="author" content="Jaehyun Jeong">
		<meta name="vieport" content="width=device-width, initial-scale-1.0">
		
		<!-- POST INFO -->
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
		
		<!-- TITLE -->
		<meta property="og:title" content="{% if page.url == '/' %}{{ page.subtitle}}{% else %}{{ page.title }}{% endif %}">
		
		<!-- CSS -->
		<link rel="stylesheet" href="{{site.baseurl}}/styles.css">
		
		<!-- Add Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	
	</head>
	<body><h1>Hello</h1>
	</body>
	<nav class="nav">
		<div class="nav-container">
			<ul>
				<li class="transition">
					<a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" current[1] == "blog" or current[1] == "book" or current[1] == "project" %} class="normal" {% endif %} class="active">Home</a>
				</li>
				<li class="transition">
					<a href="{{ '/project' | prepend: site.baseurl }}" {% if current[1] == "project" %} class="active"{% endif %} >Project</a>
				</li>
				<li class="transition">
					<a href="{{ '/blog' | prepend: site.baseurl }}" {% if current[1] == "blog" %} class="active"{% endif %} >Blog</a>
				</li>
				<li class="transition">
					<a href="{{ '/book' | prepend: site.baseurl }}" {% if current[1] == "book" %} class="active"{% endif %} >Book</a>
				</li>
			</ul>
		</div>	
	</nav>
</html>
